body{
    display: grid;
    grid-template-areas: 
    'title title'
    'myth history'
    'celebrities computers';
    margin: 0;
    background-color: #0a0d18;
    color: #CCA128;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Candal';
}

#title{
    grid-area: title;
    color: #CCA128;
    font-size: 3em;
    font-family: 'Erica One';
}

.title{
    font-size: 1.5em;
}

#mTitle, #hTitle, #ceTitle, #coTitle, .qs{
    background-color: #072476;
    margin: 1rem 5rem;
    padding: 3rem 1rem;
    border-radius: 5px;
}

.qs:hover{
    background-color: #2f4881;
}

#mythology{
    grid-area: myth;
}

#history{
    grid-area: history;
}

#celebrities{
    grid-area: celebrities;
}

#computers{
    grid-area: computers;
}

#question, #answers{
    color: #000000;
}

#lightbox{
    display: none;
    background-color: rgba(4, 21, 54, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#lightbox p{
    width: 120vw;
    margin-left: auto;
    margin-right: auto;
}

#x{
    position: absolute;
    top: 0;
    right: 0;
}

@media (min-width: 1000px){
    body{
        display: grid;
        grid-template-areas: 
        'title title title title'
        'myth history celebrities computers';
        margin: 0;
        color: #CCA128;
        text-align: center;
        font-size: 1.5em;
    }
    
    #title{
        grid-area: title;
        color: #CCA128;
        font-size: 3em;
    }
    
    .title{
        font-size: 1.25em;
    }
    
    #mTitle, #hTitle, #ceTitle, #coTitle, .qs{
        background-color: #072476;
        width: 75%;
        padding: 3rem 0;
        margin-left: auto;
        margin-right: auto;
        /*margin: 1rem 5rem;
        padding: 3rem 0;*/
        border-radius: 5px;
    }
    
    #pts{
        width: 25%;
    }

    .qs:hover{
        background-color: #2f4881;
    }
    
    #mythology{
        grid-area: myth;
    }
    
    #history{
        grid-area: history;
    }
    
    #celebrities{
        grid-area: celebrities;
    }
    
    #computers{
        grid-area: computers;
    }
    
    #question, #answers{
        color: #000000;
    }
    
    #lightbox{
        display: none;
        background-color: rgba(4, 21, 54, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    #lightbox p{
        width: 100%;
    }
    
    #x{
        position: absolute;
        top: 0;
        right: 0;
    }
    
}